label#thumbnail {
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail #imagem {
    display: flex;
    flex-direction: column;
}

label#thumbnail input {
    display: none;
}

label#thumbnail.has-thumbnail {
    border: none;
    margin-bottom: 20px;
    background-size: cover;
    cursor: pointer;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail.has-thumbnail #imagem {
    display: none;
}